# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (se mai usato in passato)
Pods/
Podfile.lock

# Carthage (in caso fosse mai stato testato)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Misc
*.swp
*.swo
*.DS_Store
*.orig
